<p id="notice"><%= notice %></p>
<%= alert %>

<div class="toppage">
<h1 class="top">Calendar</h1>
<br>

<div class="row">
<div class="col-md-4">
	<div class="schedule">今後の予定一覧</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>日程</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title , event %></td>
        <td><%= event.start_time.strftime("%m-%d") %></td>
        <td>
          <%= image_tag @event.image if @event.image.attached? %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with(model: @event, local: true) do |form| %>
  <div class="title">
    <div class="form-tag">イベント名</div>
    <%= form.text_field :title, id: 'event-title' %>
  </div>

  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>


  <div>
    <div class="form-tag">カラー</div>
  <select id="color-selector" name="event[color]">
    <option value="red" class="red-bg">赤</option>
    <option value="blue" class="blue-bg">青</option>
    <option value="green" class="green-bg">緑</option>
    <option value="yellow" class="yellow-bg">黄</option>
  </select>
</div>


 <script>
document.addEventListener('DOMContentLoaded', function() {
  const colorSelector = document.getElementById('color-selector');

  colorSelector.addEventListener('change', function() {
    const selectedOption = colorSelector.options[colorSelector.selectedIndex];
    const selectedColor = selectedOption.value;

  // 項目の背景色を設定
    colorSelector.style.backgroundColor = selectedColor;
  });

  // 初期の背景色を設定
  const initialOption = colorSelector.options[colorSelector.selectedIndex];
  const initialColor = initialOption.value;
  colorSelector.style.backgroundColor = initialColor;

  // 各選択肢の背景色を設定
  const options = colorSelector.querySelectorAll('option');
  options.forEach(function(option) {
    const optionColor = option.value;
    option.style.backgroundColor = optionColor;
  });
});

 </script>

  <div class="time">
    <div class="form-tag">時間</div>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="image">
    <div>image</div>
    <%= form.file_field :image %>
  </div>

  <div class="submit">
    <%= form.submit 'イベントを作成' %>
  </div>
<% end %>

<div class="col-md-8">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>

    <% events.each do |event| %>
   <div>
  <span class="event-title" style="color: <%= event.color %>;">
      <span class="event-badge <%= event.color %>">●</span>
      <%= link_to event.title, event %>
    </span>
    </div>
    <% end %>
  <% end %>
</div>


</div>
</div>